@media screen {
	/* Constrain max width
	 * for easy readability */
	body {
		max-width: 35rem;
		width: 35rem;
		margin: 0 auto;
		margin-top: 1rem;
		margin-bottom: 1rem;
		min-height: calc(100vh - 2rem);
	}
}